.boton{
    width: 100px;
    height: 10px;
    padding: 2rem 2rem;
    border-radius: 20px;
    font-size: medium;
   background-color: $nickel;
}

.button{
    width: 100px;
    height: 10px;
    padding: 2rem 2rem ;
    border-radius: 20px;
    font-size: small;
    background-color: $nickel;
}