
.logo{
    width: 120px;
  

    
}

.box{
    background: url("imagenes/logo.jpg");
    background-size:  cover;
    text-align: center;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    
    

}
.texto{
    text-align: center;
    position: absolute;
}


 
body{
    margin: 0px;
}


.container-fluid{
    background-color: $Eerie-black;
}
.logo-footer{
    width: 120px;
    
}
.contenedor__main {
    padding: 20px;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}


    

